/*.body {
    font-family: Arial;
    background-color: #CBE6EF;
    height: 499px;
}
*/
.hdrstyle {
    z-index: 1;
    position: absolute;
    left: 9px;
    top: 21px;
    height: 40px;
    width: 90.5%;
    font-size: x-large;
    font-weight: 700;
    font-family: Calibri;
    text-align: center;
    background-color: #FFCC00
}

.backbtn {
    z-index: 1;
    position: absolute;
    top: 19px;
    left: 92%;
    height: 45px;
    width: 45px;
}

.homebtn {
    z-index: 1;
    position: absolute;
    left: 96%;
    top: 19px;
    height: 45px;
    width: 45px;
}

.projnum {
    z-index: 1;
    left: 213px;
    top: 73px;
    position: absolute;
    height: 22px;
    font-family: Calibri;
    border-radius: 5px;
}

.projname {
    z-index: 1;
    left: 216px;
    top: 108px;
    position: absolute;
    height: 22px;
    width: 50%;
    font-family: Calibri;
    border-radius: 5px;
}

.screenTitle {
    z-index: 1;
    position: absolute;
    height: 26px;
    font-weight: bold;
    font-family: Arial;
    font-size: 30px;
    color: #0033CC;
    top: 128px;
    left: 17px;
    width: 512px;
}

.txtboxreadonly {
    font-family: Arial;
    font-size: 12px;
    background-color: #B0DFE5;
    border-radius: 4px;
    height: 20px;
}

.cmdbtn {
    font-family: Arial;
    font-size: 8pt;
    background-color: #003366;
    color: White;
    border-radius: 8px;
    height: 30px;
}

    .cmdbtn:hover {
        background-color: #6593F5;
        color: White;
        transform: scale(1.1);
    }

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0; /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

.txtbox {
    border-radius: 3px;
    border-color: Blue;
    background-color: White;
    border-width: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}

    .txtbox:hover {
        background-color: Lavender;
    }


    .txtbox:focus {
        background-color: Lavender;
    }

.deleteconfirmbox {
    background-color: aquamarine;
    border-radius: 5px;
}

.centerdiv {
    position: absolute;
    left: 22%;
    top: 185%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    padding: 5px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid lightblue;
    font-family: Calibri;
    border-radius:8px;
    width:200px;
    height:40px;
}

    .button1:hover {
        background-color: darkblue;
        color: white;
        font-weight: 800;
    }

.deleteconfirm {
    z-index: 9;
    position: absolute;
    height: 164px;
    width: 389px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: darkslateblue;
}

.delConfirmButton {
    z-index: 1;
    position: absolute;
    width: 85px;
    height: 34px;
    border-radius: 5px;
    font-weight: 800;
    font-family: calibri;
    font-size: medium;
}
.centerSCR {
    position: absolute;
    top: 101%;
    transform: translate(0, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
}
.savebtn {
    font-weight: bold; 
    background-color :#ffff00; 
    color:black;
    border-radius:5px;
    border-top:1px; 
    border-left:1px;
    border-right: solid 2px gray;
    border-bottom :solid 3px black;
}
    .savebtn:hover {
        background-color: white;
        color: black;
    }

.submitbtn {
    font-weight: bold;
    background-color: #ffff00;
    border-radius: 5px;
    border-top: 1px;
    border-left: 1px;
    border-right: solid 2px gray;
    border-bottom: solid 3px black;
}
.viewbtn {
    font-weight: bold;
    background-color: #fffff0;
    border-radius: 5px;
    border-top: 1px;
    border-left: 1px;
    border-right: solid 2px;
    border-bottom: solid 2px black;
}
.BigCheckBox input {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}